In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from scipy.optimize import minimize
import cvxpy as cp

# Шаг 1: Загружаем данные

In [10]:
tickers = ['AAPL', 'MSFT', 'TSLA', 'AMZN']
data = yf.download(tickers, start="1995-01-01", end="2025-07-02", interval='1mo')

C:\Users\pluso\AppData\Local\Temp\ipykernel_18184\2461566124.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, start="1995-01-01", end="2025-07-02", interval='1mo')
[*********************100%***********************]  4 of 4 completed

In [83]:
data.head(3)

Price          Close                          High                      \
Ticker          AAPL AMZN      MSFT TSLA      AAPL AMZN      MSFT TSLA
Date
1995-01-01  0.299935  NaN  2.274826  NaN  0.357043  NaN  2.499913  NaN
1995-02-01  0.293436  NaN  2.413709  NaN  0.330579  NaN  2.423287  NaN
1995-03-01  0.262583  NaN  2.725001  NaN  0.303553  NaN  2.839940  NaN

Price            Low                          Open                      \
Ticker          AAPL AMZN      MSFT TSLA      AAPL AMZN      MSFT TSLA
Date
1995-01-01  0.281364  NaN  2.231723  NaN  0.288792  NaN  2.356240  NaN
1995-02-01  0.282292  NaN  2.236512  NaN  0.302721  NaN  2.274825  NaN
1995-03-01  0.252340  NaN  2.404131  NaN  0.296104  NaN  2.418498  NaN

Price           Volume
Ticker            AAPL AMZN        MSFT TSLA
Date
1995-01-01  8162100800  NaN  1111609600  NaN
1995-02-01  5299347200  NaN   998657600  NaN
1995-03-01  6997144000  NaN  1415724800  NaN

In [84]:
data.tail(3)

Price            Close                                            High  \
Ticker            AAPL        AMZN        MSFT        TSLA        AAPL
Date
2025-05-01  200.586960  205.009995  459.516388  346.459991  214.278996
2025-06-01  205.169998  219.389999  497.410004  317.660004  207.389999
2025-07-01  211.160004  225.020004  503.320007  313.510010  216.229996

Price                                                  Low              \
Ticker            AMZN        MSFT        TSLA        AAPL        AMZN
Date
2025-05-01  214.839996  461.672433  367.709991  192.996907  183.850006
2025-06-01  223.820007  500.760010  357.540009  195.070007  202.679993
2025-07-01  226.679993  506.779999  318.450012  206.139999  217.929993

Price                                     Open                          \
Ticker            MSFT        TSLA        AAPL        AMZN        MSFT
Date
2025-05-01  424.121376  271.000000  208.806177  190.630005  430.319988
2025-06-01  456.890015  273.209991  200.279999  204.979996  457.140015
2025-07-01  488.700012  288.769989  206.669998  219.500000  496.470001

Price                       Volume
Ticker            TSLA        AAPL         AMZN       MSFT          TSLA
Date
2025-05-01  280.010010  1195728200  937262700.0  476942400  2.195843e+09
2025-06-01  343.500000  1100409300  870687900.0  401255100  2.428762e+09
2025-07-01  298.459991   407676700  301095600.0  127684600  8.159103e+08

In [85]:
def resample_open_to_close_returns(df: pd.DataFrame, freq='YE') -> pd.DataFrame:
    """
    Считает доходности между Open начала периода и Close конца периода.
    Ожидается DataFrame с колонками MultiIndex: [('AAPL', 'Open'), ('AAPL', 'Close'), ...]
    """
    # Убедимся, что формат — MultiIndex: тикеры × ['Open', 'Close']
    df = df.copy()
    df.index = pd.to_datetime(df.index)
    df = df.sort_index()

    tickers = df.columns.get_level_values(1).unique()
    result = pd.DataFrame(index=[], columns=tickers)

    for ticker in tickers:
        open_series = df['Open'][ticker].resample(freq).first()
        close_series = df['Close'][ticker].resample(freq).last()
        ret = (close_series / open_series - 1).dropna()
        result[ticker] = ret

    return result

In [53]:
# Доходности Open → Close на год
returns_annual = resample_open_to_close_returns(data, freq='YE')

In [60]:
returns_annual

Ticker          AAPL      AMZN      MSFT      TSLA
Date
1995-12-31 -0.170704       NaN  0.426829       NaN
1996-12-31 -0.352712       NaN  0.880511       NaN
1997-12-31 -0.378695  1.059832  0.554887       NaN
1998-12-31  2.004577  9.708332  1.139826       NaN
1999-12-31  1.440654  0.393859  0.672523       NaN
2000-12-31 -0.716329 -0.809049 -0.630458       NaN
2001-12-31  0.472267 -0.315731  0.501417       NaN
2002-12-31 -0.350113  0.728271 -0.224306       NaN
2003-12-31  0.488158  1.742053  0.055910       NaN
2004-12-31  1.988402 -0.160538  0.082972       NaN
2005-12-31  1.219510  0.048943 -0.012339       NaN
2006-12-31  0.172147 -0.168738  0.153980       NaN
2007-12-31  1.295515  1.395036  0.206408       NaN
2008-12-31 -0.571687 -0.462192 -0.446809       NaN
2009-12-31  1.453772  1.619669  0.597277       NaN
2010-12-31  0.511315  0.321101 -0.069521  0.401578
2011-12-31  0.243705 -0.045597 -0.049922  0.064084
2012-12-31  0.311421  0.426289  0.034478  0.170353
2013-12-31  0.038449  0.557287  0.414385  3.298001
2014-12-31  0.419738 -0.221790  0.277695  0.484713
2015-12-31 -0.038931  1.162294  0.221396  0.076906
2016-12-31  0.153853  0.142589  0.175352 -0.073812
2017-12-31  0.484900  0.542999  0.392738  0.449083
2018-12-31 -0.059073  0.281544  0.199679  0.066667
2019-12-31  0.924347  0.261152  0.607552  0.366645
2020-12-31  0.807128  0.737029  0.415646  7.311779
2021-12-31  0.338112  0.019676  0.524015  0.468852
2022-12-31 -0.265118 -0.498657 -0.278166 -0.678031
2023-12-31  0.486077  0.777908  0.560697  1.097409
2024-12-31  0.344626  0.447737  0.135858  0.614843
2025-12-31 -0.149683  0.013467  0.187355 -0.196334

# 2. Вычисление статистик

In [80]:
periods_back = 5
count_2025 = -1 # len(returns_annual)
mean_returns = returns_annual.iloc[-periods_back:count_2025].mean()
cov_matrix = returns_annual.iloc[-periods_back:count_2025].cov()

In [81]:
mean_returns

Ticker
AAPL    0.225924
AMZN    0.186666
MSFT    0.235601
TSLA    0.375768
dtype: float64

In [82]:
cov_matrix

Ticker      AAPL      AMZN      MSFT      TSLA
Ticker
AAPL    0.111826  0.167530  0.119124  0.248006
AMZN    0.167530  0.305093  0.156702  0.398576
MSFT    0.119124  0.156702  0.154258  0.259670
TSLA    0.248006  0.398576  0.259670  0.565693

In [52]:
# 4. Математика для Марковица
mean_returns = returns_annual.mean()

Ticker
AAPL    0.404698
AMZN    0.679475
MSFT    0.248641
TSLA    0.870171
dtype: float64